/*
---------------------------Navigation Styles---------------------------
*/
.nav-wrapper .nav-link {
  font-size: 20px;
  letter-spacing: 1px;

  padding: 0 15px;
  margin-bottom: 6px;
}

.nav-wrapper .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#logout {
  height: 100%;

  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
}

#logout:hover, #logout:focus {
  background-color: transparent;
}

/*
---------------------------Login/Register Styles---------------------------
*/
.form-shape {
  margin: 60px 0 40px 0;
  padding: 25px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.login-form h1 {
  margin: 0;
}

.input-field {
  width: 60%;
}

/*
---------------------------Searchbar Styles---------------------------
*/

.searchbar {
  position: relative;

  width: 70%;
  margin: 30px auto;
}

#search {
  font-size: 24px;
  letter-spacing: 1px;
}

#searchbar-icon {
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 500;

  background-color: transparent;
  border: none;
}

#searhbar-icon, #searchbar-icon i:hover {
  cursor: pointer;
}

.no-results {
  text-align: center
}

/*
---------------------------Thumnail Styles---------------------------
*/

.thumbnail {
  width: 33%;

  display: inline-block;
  position: relative;

  cursor: pointer;
}

.fav-btn {
  position: absolute;
  right: 0;
  top: 53%;
}

.thumbnail .card-content {
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
}


.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 75%;
  margin: 30px auto;
}

.pagination li {
  margin: 5px;
  height: 30px;
  width: 30px;

  font-size: 18px;
  font-weight: 500px;
}

.pagination li:hover {
  background-color: darkorange;
  color: white;
}